{% extends 'base.html' %}

{% block title %}Lista de Perfiles{% endblock %}

{% block content %}
<div class="container">
  <h2 class="mt-3">Lista de Perfiles</h2>
  <a href="{% url 'trial:perfil-create' %}" class="btn btn-primary mb-3">Agregar Perfil</a>

  <!-- Agrega una tabla con un ID -->
  <table id="perfiles-table" class="table table-bordered">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Equipo</th>
      </tr>
    </thead>
    <tbody>
      {% for perfil in perfiles %}
        <tr>
          <td><a href="{{ perfil.usuario.get_absolute_url }}">{{ perfil.usuario.username }}</a></td>
          <td>{{ perfil.get_equipo_display }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No hay perfiles aún</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $('#perfiles-table').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.11.5/i18n/Spanish.json" // Traducción al español
      }
    });
  });
</script>
{% endblock %}
