{% extends 'base.html' %}

{% block title %}Testigo {{ testigo.nombre }}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-3">Testigo: {{ testigo.nombre }}</h1>
  <a href="{{ testigo.get_update_url }}" class="btn btn-primary">Editar testigo</a>
  <a href="{{ testigo.get_delete_url }}" class="btn btn-danger">Eliminar testigo</a>

  <ul class="list-group mt-4">
    <li class="list-group-item"><strong>Nombre:</strong> {{ testigo.nombre }}</li>
    <li class="list-group-item"><strong>RUT:</strong> {{ testigo.rut }}</li>
    <li class="list-group-item"><strong>Dirección:</strong> {{ testigo.direccion }}</li>
    <li class="list-group-item"><strong>Correo:</strong> {{ testigo.correo }}</li>
    <li class="list-group-item"><strong>Teléfono:</strong> {{ testigo.telefono }}</li>
    <li class="list-group-item"><strong>Notificada:</strong> {{ testigo.bool_esta_notificada }}</li>
    <li class="list-group-item"><strong>Observaciones:</strong> {{ testigo.observaciones }}</li>
    <li class="list-group-item"><strong>Juicio:</strong> {{ testigo.juicio }}</li>
    <li class="list-group-item"><strong>Edad:</strong> {{ testigo.edad }}</li>
    <li class="list-group-item"><strong>Pauta Lista:</strong> {{ testigo.bool_pauta_lista }}</li>
    <li class="list-group-item"><strong>Link Pauta Necesidades:</strong> {{ testigo.link_pauta_necesidades }}</li>
  </ul>

  <a href="{{ testigo.juicio.get_absolute_url }}" class="btn btn-secondary mt-3">Volver a juicio</a>


<!-- Muestra los apoyos relacionados al testigo -->
<h3 class="mt-4">Apoyos</h3>
  <a href="{% url 'trial:apoyo-testigo-create' testigo_pk=testigo.pk %}" class="btn btn-success mt-3">Crear Nuevo Apoyo</a>

  <table class="table table-bordered mt-3" id="apoyos-table">
    <thead>
      <tr>
        <th></th>
        <th>Tipo de Apoyo</th>
        <th>Equipo a Cargo</th>
        <th>Estado</th>
        <th>Descripción</th>
        <!-- Agregar más encabezados de columnas según sea necesario -->
      </tr>
    </thead>
    <tbody>
      {% for apoyo in testigo.apoyos.all %}
      <tr>
        <td><a href="{{ apoyo.get_absolute_url }}">Ir al apoyo</a></td>
        <td>{{ apoyo.get_tipo_display }}</td>
        <td>{{ apoyo.equipo_a_cargo.nombre }}</td>
        <td>
          <span class="{% if apoyo.estado == 'so' %}text-warning{% elif apoyo.estado == 'ep' %}text-success{% elif apoyo.estado == 'ej' %}text-success{% endif %}">
            {{ apoyo.get_estado_display }}
          </span>
        </td>
        <td>{{ apoyo.descripcion }}</td>
        <!-- Agregar más datos de apoyo según sea necesario -->
      </tr>
      
      {% empty %}
        <tr>
          <td colspan="4">No hay apoyos registrados para esta víctima.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    // Inicializar DataTable en la tabla de apoyos
    $('#apoyos-table').DataTable();
  });
</script>
{% endblock %}
