{% extends 'base.html' %}

{% block title %}Juicio {{ juicio.ruc }}{% endblock %}

{% block content %}
<h1>Juicio RUC: {{ juicio.ruc }}</h1>

   
    <li>Auto apertura: {{ juicio.auto_apertura }}</li>
    <li>Fecha Juicio Oral: {{ juicio.fecha_juicio_oral }}</li> 
    <li>Fiscal: {{ juicio.fiscal }}</li>
  

  <div><h3>Víctimas</h3><a href="{{ juicio.get_create_victima_url }}">agregar víctima</a></div>
  <ul>
    {% for victima in juicio.victimas.all %}
    <li><a href="{{ victima.get_absolute_url }}">Víctima: {{ victima.nombre }}</a></li>
    {% empty %}
    <li>
      No hay víctimas aún
    </li>
    {% endfor %}
  </ul>
  <h3>Testigos</h3><a href="{{ juicio.get_create_testigo_url }}">agregar testigo</a>
  <ul>
    {% for testigo in juicio.testigos.all %}
    <li>Testigo: {{ testigo.nombre }}</li>
    {% empty %}
    <li>
      No hay testigos aún
    </li>
    {% endfor %}
  </ul>
  <h3>Peritos</h3><a href="{{ juicio.get_create_perito_url }}">agregar perito</a>
  <ul>
    {% for perito in juicio.peritos.all %}
    <li>Perito: {{ perito.nombre }}</li>
    {% empty %}
    <li>
      No hay peritos aún
    </li>
    {% endfor %}
  </ul>

{% endblock %}