{% extends 'base.html' %}

{% block title %}Juicio {{ juicio.ruc }}{% endblock %}

{% block content %}
<h1>Juicio RUC: {{ juicio.ruc }}</h1>
  <ul> 
      <li>Auto apertura: {{ juicio.auto_apertura }}</li>
      <li>Fecha Juicio Oral: {{ juicio.fecha_juicio_oral }}</li> 
      <li>Fiscal: {{ juicio.fiscal }}</li>
  </ul>

  <h3>Responsables     <a href="{{ juicio.get_create_responsable_url }}">agregar responsable</a></h3>
  <ul>
    <li>Equipo URAVIT:
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </li>
    <li>Equipo Especial de Juicios:
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </li>
    <li>Equipo Fiscal:
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </li>
    <li>Equipo UGI:
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </li>
  </ul>
  <h3>Víctimas</h3>
  <ul>
    <li></li>
  </ul>
  <h3>Testigos</h3>
  <ul>
    <li></li>
  </ul>
  <h3>Peritos</h3>
  <ul>
    <li></li>
  </ul>
{% endblock %}