{% extends 'base.html' %}

{% block title %}Juicio {{ juicio.ruc }}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-3">Juicio RUC: {{ juicio.ruc }}</h1>
  <a href="{{ juicio.get_update_url }}" class="btn btn-primary btn-sm mb-3">Editar</a>
  <a href="{% url 'trial:juicio-delete' juicio.pk %}" class="btn btn-danger btn-sm mb-3">Eliminar</a>

  <ul class="list-group">
    <li class="list-group-item"><strong>Auto apertura:</strong> {{ juicio.auto_apertura }}</li>
    <li class="list-group-item"><strong>Fecha Juicio Oral:</strong> {{ juicio.fecha_juicio_oral }}</li>
    <li class="list-group-item"><strong>Fiscal:</strong> {{ juicio.fiscal }}</li>
  </ul>

  <div class="mt-3"><h3>Víctimas</h3><a href="{{ juicio.get_create_victima_url }}" class="btn btn-success btn-sm">Agregar Víctima</a></div>
  <ul class="list-group">
    {% for victima in juicio.victimas.all %}
      <li class="list-group-item">
        <a href="{{ victima.get_absolute_url }}">{{ victima.nombre }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">
        No hay víctimas aún
      </li>
    {% endfor %}
  </ul>

  <div class="mt-3"><h3>Testigos</h3><a href="{{ juicio.get_create_testigo_url }}" class="btn btn-success btn-sm">Agregar Testigo</a></div>
  <ul class="list-group">
    {% for testigo in juicio.testigos.all %}
      <li class="list-group-item">
        <a href="{{ testigo.get_absolute_url }}">{{ testigo.nombre }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">
        No hay testigos aún
      </li>
    {% endfor %}
  </ul>

  <div class="mt-3"><h3>Peritos</h3><a href="{{ juicio.get_create_perito_url }}" class="btn btn-success btn-sm">Agregar Perito</a></div>
  <ul class="list-group">
    {% for perito in juicio.peritos.all %}
      <li class="list-group-item">
        <a href="{{ perito.get_absolute_url }}">{{ perito.nombre }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">
        No hay peritos aún
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

