{% extends 'base.html' %}

{% block title %}Detalle de Apoyo{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-3">Detalle de Apoyo</h1>

  <table class="table table-bordered mt-4">
    <tbody>
      <tr>
        <th>Tipo de Apoyo:</th>
        <td>{{ apoyo.get_tipo_display }}</td>
      </tr>
      {% if apoyo.tipo == 'tl' %}
      <!-- Campos específicos para Traslado -->
      <tr>
        <th>Tipo Traslado:</th>
        <td>{{ apoyo.get_traslado_tipo_display }}</td>
      </tr>
      <tr>
        <th>Vehículo:</th>
        <td>{{ apoyo.get_traslado_vehiculo_display }}</td>
      </tr>
      {% elif apoyo.tipo == 'et' %}
      <!-- Campos específicos para Estadía -->
      <tr>
        <th>Con Alimentación:</th>
        <td>{{ apoyo.estadia_con_alimentacion|yesno:"Sí,No" }}</td>
      </tr>
      {% elif apoyo.tipo == 'am' %}
      <!-- Campos específicos para Asistencia Médica -->
      <tr>
        <th>Tipo Asistencia:</th>
        <td>{{ apoyo.get_asistencia_medica_tipo_display }}</td>
      </tr>
      {% elif apoyo.tipo == 'td' %}
      <!-- Campos específicos para Traductor -->
      <tr>
        <th>Idioma:</th>
        <td>{{ apoyo.traductor_idioma }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>Equipo a Cargo:</th>
        <td>{{ apoyo.equipo_a_cargo.nombre }}</td>
      </tr>
      <tr>
        <th>Estado:</th>
        <td>
          <span class="{% if apoyo.estado == 'so' %}text-warning{% elif apoyo.estado == 'ep' %}text-success{% elif apoyo.estado == 'ej' %}text-success{% endif %}">
            {{ apoyo.get_estado_display }}
          </span>
        </td>
      </tr>
      <tr>
        <th>Descripción:</th>
        <td>{{ apoyo.descripcion }}</td>
      </tr>      
    </tbody>
  </table>

  <!-- Datos del Juicio -->
  {% if apoyo.victima %}
  <h2 class="mt-3">Datos de la Víctima</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>Nombre de la Víctima:</strong> {{ apoyo.victima.nombre }}</li>
    <li class="list-group-item"><strong>Rut:</strong> {{ apoyo.victima.rut }}</li>
    <li class="list-group-item"><strong>Edad:</strong> {{ apoyo.victima.edad }}</li>
    <li class="list-group-item"><strong>Dirección:</strong> {{ apoyo.victima.direccion }}</li>
    <li class="list-group-item"><strong>Correo:</strong> {{ apoyo.victima.correo }}</li>
    <li class="list-group-item"><strong>¿Está Notificada?:</strong> {{ apoyo.victima.bool_esta_notificada|yesno:"Sí,No" }}</li>
    <li class="list-group-item"><strong>¿Pauta Lista?:</strong> {{ apoyo.victima.bool_pauta_lista|yesno:"Sí,No" }}</li>
    <li class="list-group-item"><strong>Pauta Necesidades:</strong> {{ apoyo.victima.link_pauta_necesidades }}</li>
    <li class="list-group-item"><strong>Observaciones:</strong> {{ apoyo.victima.observaciones }}</li>
  </ul>
  <h2 class="mt-3">Datos del Juicio</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>RUC:</strong>{{ apoyo.victima.juicio.ruc }}</li>
    <li class="list-group-item"><strong>Auto Apertura:</strong>{{ apoyo.victima.juicio.auto_apertura }}</li>
    <li class="list-group-item"><strong>Fecha Juicio Oral:</strong>{{ apoyo.victima.juicio.fecha_juicio_oral }}</li>
    <li class="list-group-item"><strong>Fiscal:</strong>{{ apoyo.victima.juicio.fiscal }}</li>
  </ul>
  {% endif %}

  {% if apoyo.testigo %}
  <h2 class="mt-3">Datos del Testigo</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>Nombre del Testigo:</strong> {{ apoyo.testigo.nombre }}</li>
    <li class="list-group-item"><strong>Rut:</strong> {{ apoyo.testigo.rut }}</li>
    <li class="list-group-item"><strong>Edad:</strong> {{ apoyo.testigo.edad }}</li>
    <li class="list-group-item"><strong>Dirección:</strong> {{ apoyo.testigo.direccion }}</li>
    <li class="list-group-item"><strong>Correo:</strong> {{ apoyo.testigo.correo }}</li>
    <li class="list-group-item"><strong>¿Está Notificada?:</strong> {{ apoyo.testigo.bool_esta_notificada|yesno:"Sí,No" }}</li>
    <li class="list-group-item"><strong>¿Pauta Lista?:</strong> {{ apoyo.testigo.bool_pauta_lista|yesno:"Sí,No" }}</li>
    <li class="list-group-item"><strong>Pauta Necesidades:</strong> {{ apoyo.testigo.link_pauta_necesidades }}</li>
    <li class="list-group-item"><strong>Observaciones:</strong> {{ apoyo.testigo.observaciones }}</li>
  </ul>
  <h2 class="mt-3">Datos del Juicio</h2>
  <ul class="list-group">
    <li class="list-group-item"><strong>RUC:</strong>{{ apoyo.testigo.juicio.ruc }}</li>
    <li class="list-group-item"><strong>Auto Apertura:</strong>{{ apoyo.testigo.juicio.auto_apertura }}</li>
    <li class="list-group-item"><strong>Fecha Juicio Oral:</strong>{{ apoyo.testigo.juicio.fecha_juicio_oral }}</li>
    <li class="list-group-item"><strong>Fiscal:</strong>{{ apoyo.testigo.juicio.fiscal }}</li>
  </ul>
  {% endif %}

  <!-- Botones para editar y eliminar -->
  <div class="mt-3">
    <a href="{% url 'trial:apoyo-estado-update' apoyo.pk %}" class="btn btn-primary">Cambiar Estado</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>
{% endblock %}
