{% extends 'base.html' %}

{% block title %}Lista de Apoyos{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-3">Lista de Apoyos</h1>

  <table class="table table-striped mt-4" id="apoyos-table">
    <thead>
      <tr>
        <th>Para</th>
        <th>Tipo de Apoyo</th>
        <th>Equipo a Cargo</th>
        <th>Estado</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for apoyo in apoyos %}
      <tr>
        {% if apoyo.victima %}
        <td>{{ apoyo.victima.nombre }} (Víctima)</td>
        {% elif apoyo.testigo %}
        <td>{{ apoyo.testigo.nombre }} (Testigo)</td>
        {% else %}
        <td>-</td>
        {% endif %}
        <td>{{ apoyo.get_tipo_display }}</td>
        <td>{{ apoyo.equipo_a_cargo.nombre }}</td>
        <td>
          <span class="{% if apoyo.estado == 'so' %}text-warning{% elif apoyo.estado == 'ep' %}text-success{% elif apoyo.estado == 'ej' %}text-success{% endif %}">
            {{ apoyo.get_estado_display }}
          </span>
        </td>
        <td>{{ apoyo.descripcion|truncatechars:200 }}</td>
        <td>
          <a href="{% url 'trial:apoyo-detail' apoyo.pk %}" class="btn btn-info btn-sm">Detalle</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No hay apoyos registrados.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
$(document).ready(function() {
    $('#apoyos-table').DataTable({
        "paging": true, // Habilita la paginación
        "lengthMenu": [10, 25, 50, 75, 100], // Opciones de cantidad de filas por página
        "pageLength": 10, // Cantidad de filas por página por defecto
        "ordering": true, // Habilita la ordenación
        "info": true, // Muestra información sobre el número de filas
    });
});
</script>

{% endblock %}

