{% extends 'base.html' %}

{% block title %}Detalle de Apoyo{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-3">Detalle de Apoyo</h1>

  <table class="table table-bordered mt-4">
    <tbody>
      <tr>
        <th>Tipo de Apoyo:</th>
        <td>{{ apoyo.get_tipo_display }}</td>
      </tr>
      {% if apoyo.tipo == 'tl'%}
      <tr>
        <th>Tipo Traslado:</th>
        <td>{{ apoyo.get_traslado_tipo_display }}</td>
      </tr>
      <tr>
        <th>Vehículo:</th>
        <td>{{ apoyo.get_traslado_vehiculo_display }}</td>
      </tr>
      {% elif apoyo.tipo == 'et' %}
      <tr>
        <th>Con Alimentación:</th>
        <td>{{ apoyo.estadia_con_alimentacion|yesno:"Sí,No" }}</td>
      </tr>
      {% elif apoyo.tipo == 'am' %}
      <tr>
        <th>Tipo Asistencia:</th>
        <td>{{ apoyo.get_display_asistencia_medica_tipo }}</td>
      </tr>
      {% elif apoyo.tipo == 'td' %}
      <tr>
        <th>Idioma:</th>
        <td>{{ apoyo.traductor_idioma }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>Equipo a Cargo:</th>
        <td>{{ apoyo.equipo_a_cargo.nombre }}</td>
      </tr>
      <tr>
        <th>Estado:</th>
        <td>
          <span class="{% if apoyo.estado == 'so' %}text-warning{% elif apoyo.estado == 'ep' %}text-success{% elif apoyo.estado == 'ej' %}text-success{% endif %}">
            {{ apoyo.get_estado_display }}
          </span>
        </td>
      </tr>
      <tr>
        <th>Descripción:</th>
        <td>{{ apoyo.descripcion }}</td>
      </tr>      
    </tbody>
  </table>

  <!-- Botones para editar y eliminar -->
  <div class="mt-3">
    <a href="{% url 'trial:apoyo-estado-update' apoyo.pk %}" class="btn btn-primary">Cambiar Estado</a>
    <a href="#" class="btn btn-danger">Eliminar</a>
  </div>
</div>
{% endblock %}
